:root {
    --main-color: #D79928;
}


body {
    font-family: 'Noto Sans Thai', sans-serif;
    padding-top: 60px;
    padding-bottom: 70px;
}

label {
    font-size: 16px;
    font-weight: 800;
    line-height: 24.18px;
}

input {
    border: 1px solid #707070 !important;
    margin: 10px 0px;
}

input:read-only {
    background: #EBEBEB;
    color: #7A7A7A;
}

input[type=checkbox] {
    transform: scale(1.2);
}

tr {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 16px;
    font-weight: 800;
    line-height: 24.18px;
}

.form-control {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36.26px;
}

.form-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #363636;
}

.form-label {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;

}

.form-value {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;

}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(215, 153, 40, .25);
    border-color: #495057;
}

textarea.form-control {
    border: 1px solid;
}

textarea.form-control:disabled {
    color: #7A7A7A;
}

.yellow-line {
    height: 4px;
    color: #E7A51B;
    background-color: #E7A51B;
    opacity: 1;
    border: none;
    margin: 6px 0px 14px 0px;
}

.primary-color {
    color: #D79928;
}

.primary-btn {
    background-color: #D79928;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.2px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.primary-btn.disabled {
    background-color: #FFE1AC;
    color: #FFFFFF;
    cursor: not-allowed;
    pointer-events: none;
}

.primary-btn.btn:hover {
    color: #FFFFFF;
    background-color: #D79928;
    border-color: #D79928;
}

.primary-btn.btn-check:checked+.btn,
.primary-btn.btn.active,
.primary-btn.btn.show,
.primary-btn.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #FFFFFF;
    background-color: #D79928;
    border-color: #D79928;
}

.primary-btn.btn.focus,
.primary-btn.btn:focus {
    box-shadow: 0 0 0 .25rem rgba(215, 153, 40, .25);
}

.secondary-btn {
    background-color: #FFFFFF;
    color: #D79928;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.2px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #D79928;
    border-radius: 10px;
}

.secondary-btn.disabled {
    background-color: #FFE1AC;
    color: #FFFFFF;
    cursor: not-allowed;
    pointer-events: none;
}

.secondary-btn.btn:hover {
    color: #FFFFFF;
    background-color: #D79928;
    border-color: #D79928;
}

.secondary-btn.btn-check:checked+.btn,
.secondary-btn.btn.active,
.secondary-btn.btn.show,
.secondary-btn.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #FFFFFF;
    background-color: #D79928;
    border-color: #D79928;
}

.secondary-btn.btn.focus,
.secondary-btn.btn:focus {
    box-shadow: 0 0 0 .25rem rgba(215, 153, 40, .25);
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

}

.top-nav-bar .logo {
    width: 208px;
    height: auto;
}

a {
    color: #2D3C8E;
    text-decoration: none;
}

a.active {
    color: #D79928 !important;
}

a:hover {
    text-decoration: none;
}

.top-nav-bar {
    min-height: 60px;
}

nav#top-nav-bar {
    background-color: rgba(255, 255, 255, 0.4) !important;
    font-weight: 700;
}

nav#top-nav-bar a {
    color: black;

}

.main-btn-color {
    color: #D79928;
}

.round {
    position: relative;
    margin-left: 15px
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #D79928;
    border-color: #D79928;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #989898;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.0625em;
    text-align: center;
    height: 70px;
    align-content: center;
    z-index: 999;
}

footer#footer a {
    color: #989898;
    text-decoration: none;
}

footer#footer a.active {
    color: #D79928 !important;
}

footer#footer .svg-box {
    height: 40px;
}

.main-content-header {
    background-color: #0F1922;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 0 0 30px 30px;
    margin-bottom: 30px
}

.main-content-header .title {
    color: #D79928;
    font-size: 30px;
    font-weight: 700;
    line-height: 45.33px;
}

.main-content-header .sub-title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.status-warning-badge {
    border: none;
    padding: 2px 15px;
    border-radius: 6px;
    background-color: #D79928;
    color: white;
}

.status-error-badge {
    border: none;
    padding: 2px 15px;
    border-radius: 6px;
    background-color: #B2010C;
    color: white;
}

.status-success-badge {
    border: none;
    padding: 2px 15px;
    border-radius: 6px;
    background-color: #009D65;
    color: white;
}

.status-info-badge {
    border: none;
    padding: 2px 15px;
    border-radius: 6px;
    background-color: #091176;
    color: white;
}

.drop-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bell-box-content {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bell-box-content img {
    max-width: 40px;
    margin-right: 10px
}

.tag-bell-box-content {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: var(--main-color);
    color: white;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 30%;
    font-size: 12px;
}

.text-error {
    color: #B2010C !important;
}

.main-content-sub-header .search-box {
    margin: 0;
    height: 40px;
    align-content: center;
    background-color: rgba(221, 221, 221, 1);
    color: rgba(152, 152, 152, 1);
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 10px;
}

.status-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.15px;
    color: #1A1A1A;
}

.status-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.15px;
    color: #888888;
}

.carousel-image {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 24px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 1);
}

.modal-lg {
    max-width: 100%;
    margin: 0;
}

.modal-content {
    width: 100%;
    height: auto;
    max-height: 90%;
    overflow: auto;
}

.modal-content button:focus {
    outline: none;
}

.alert-modal .modal-content {
    border: none;
    box-shadow: none;
    background: none;
    padding: 30px;
}

.alert-modal .modal-content .card {
    margin: auto;
    min-height: 350px;
    border-radius: 30px;
}

.alert-modal .modal-content .card .card-body {
    text-align: center;
}

.alert-modal .modal-content .card .card-body .card-title {
    font-size: 32px;
    font-weight: 700;
    color: #363636;
}

.alert-modal .modal-content .card .card-body .card-text {
    font-size: 16px;
    font-weight: 500;
    color: #363636;
}

.alert-modal .modal-content .card .card-body .modal-img {
    width: 100%;
    max-width: 130px;
}

.alert-modal .modal-content .card .card-footer {
    background: none;
    border: none;
}

.star-path {
    fill: #CCCCCC;
}

.active .star-path {
    fill: #B2010C;
}

.star-box {
    max-width: 40px;
}

.f16px {
    font-size: 16px;
}

.f14px {
    font-size: 14px;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: opacity .15s linear;
    }
}