body {
    font-family: 'Noto Sans Thai', sans-serif;
    padding-top: 60px;
    padding-bottom: 70px;
}

label {
    font-size: 16px;
    font-weight: 800;
    line-height: 24.18px;
}

input {
    border: 1px solid #707070 !important;
    margin: 10px 0px;
}

input:read-only {
    background: #EBEBEB;
    color: #7A7A7A;
}

.form-control {
    font-size: 16px;
    font-weight: 500;
    line-height: 24.18px;
}

.form-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36.26px;
}

hr {
    height: 4px;
    color: #E7A51B;
    background-color: #E7A51B;
    opacity: 1;
    border: none;
    margin: 6px 0px 14px 0px;
}

.primary-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D79928;
    --bs-btn-border-color: #D79928;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a87820;
    --bs-btn-hover-border-color: #a87820;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a87820;
    --bs-btn-active-border-color: #a87820;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D79928;
    --bs-btn-disabled-border-color: #D79928;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.2px;
    width: 100%;
    max-width: 600px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #989898;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0625em;
    text-align: center;
    height: 70px;
    align-content: center;
}

.top-nav-bar .logo {
    width: 208px;
    height: auto;
}

a.active {
    color: #D79928 !important;
}

.top-nav-bar {
    min-height: 60px;
}

nav#top-nav-bar {
    background-color: rgba(255, 255, 255, 0.4) !important;
    font-weight: 700;
}

nav#top-nav-bar a {
    color: black;

}